@{
    ViewData["Title"] = "Home Page";
}

<div class="homepage-background">
    <div class="text-content">
        <div class="welcome-text">
            Welcome to <br> <span class="event-ease">EventEase</span><br>
            <p>The best event management system.</p>
        </div>
    </div>
    <div class="footer">
        © 2025 - Event_Ease - Privacy
    </div>
</div>
</div>
